{
	"extends": [
		"airbnb-standard"
	],
	"parser": "babel-eslint",
	"env": {
		"browser": true
	},
	"rules": {
		"semi": [2, "never"],
		"max-len": [2, { "code": 140 }],
		"no-tabs": 0,
		"indent": [2, "tab"],
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"react/destructuring-assignment": 0
	}
}
