@import "../../scss/variables";

footer {
	height: $footer-height;
	position: relative;
	background: #fbfbfb;
	font-size: 0.8rem;
	padding: 0 5px;
	order: 2;

	.toggler {
		display: inline-block;
		transition: transform .2s;
		position: absolute;
		font-size: 2rem;
		color: #fff;
		bottom: 13px;
		z-index: 105;
		left: 15%;

		&.hidden {
			transform: scaleX(-1);
		}
	}
}

.tablet footer {
	height: $footer-height-tablet;
	border-top: 1px solid #ddd;

	.toggler {
		position: relative;
		bottom: initial;
		font-size: 1rem;
		color: #627386;
		left: unset;
	}
}
