@import "../../scss/variables";

footer {
	height: $footer-height;
	position: relative;
	background: #fbfbfb;
	font-size: 0.8rem;
	border-top: 1px solid #ddd;
	padding: 0 5px;
	order: 2;

	.toggler {
		display: inline-block;
		transition: transform .2s;

		position: absolute;
		font-size: 2rem;
		color: #ddd;

		&.hidden {
			transform: scaleX(-1);
		}
	}
}

.tablet footer {
	height: $footer-height-tablet;

	.toggler {
		position: relative;
		bottom: initial;
		font-size: 1rem;
		color: #627386;
	}
}
