@import "../../scss/variables";
@import "../../scss/splitpane";

main.content {
	height: calc(100% - #{$header-height} - #{$footer-height});
	position: relative;
	font-size: 0.8rem;
}

.collapsed .Pane1 {
	display: none;
}
