@import "../../scss/variables";
@import "../../scss/splitpane";

main.content {
	height: calc(100% - #{$header-height} - #{$footer-height});
	position: relative;
	font-size: 0.8rem;
}

.gutter {
    background-color: #eee;

    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}
