header {
	min-height: 90px;
	color: #fff;
	background: #525252;
	background: -webkit-linear-gradient(to right, #525252, #3d72b4);
	background: linear-gradient(to right, #525252, #3d72b4);

	.titlebar {
		-webkit-user-select: none;
		-webkit-app-region: drag;
	}

	.control-panel {
		display: flex;
		justify-content: space-around;
		padding: 10px 0;

		.player-controls {
			position: relative;
			color: #333;
			background-color: #fcfcfc;
			border-radius: 6px;
			width: 200px;
			height: 40px;
			z-index: 5;
			margin-left: 15px;

			.album-art {
				position: absolute;
				top: 50%;
				left: -5px;
				transform: translateY(-50%);
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background: #ecde2a;
				border: 2px solid #6b0d0d;
			}

			.controls {
				display: flex;
				justify-content: flex-end;
				height: 40px;
				padding: 0 15px;

				.prev, .play, .next {
					width: 40px;
					height: auto;
					border-radius: 10px;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 20px;
					padding: 8px 0;
					background-color: #fff;
					cursor: pointer;
					transition: background-color .3s ease;
					-webkit-transition: background-color .3s ease;
				}
			}
		}

		.status-bar, .volume-bar {
			width: 50%;
			background: #fcfcfc00;
			padding: 5px 20px;
			color: #000;
			margin-right: 20px;
			font-size: 0.7rem;
			border-radius: 5px;
		}

		.volume-bar {
			width: 10%;
		}

		.seekbar {
			.rc-slider {
				&-handle {
					display: none;
					transition: .05s all;
				}

				&-track {
					transition: .05s all;
					background-color: #668fc1;
				}
			}
		}
	}
}

.player-spectrum {
	position: absolute;
	height: 200px;
	-webkit-filter: url("#goo-no-comp");
	width: 100%;
	overflow: hidden;
	zoom: 0.5;
	top: 0;

	.player-spectrum-bars {
		display: flex;
	}

	.player-spectrum-bar {
		display: inline-block;
		background: #4f0000;
		flex: 1 1 auto;
		align-self: flex-end;
	}
}

.control-panel svg {
	display: none;
}
