.SplitPane {
	.Resizer {
		background: rgba(0, 0, 0, 0);
		height: 100%;
		width: 10px;
		z-index: 1;

		&.vertical {
			margin: 0 -5px;
			cursor: col-resize;
			min-width: 10px;
		}
	}
}

.splitter {
	display: flex;
	height: 100%;
}

.gutter {
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	width: 10px !important;
	margin-left: -5px;

	&:nth-last-child(2) {
		width: 0 !important;
	}
}

.gutter.gutter-vertical {
	cursor: row-resize;
}
