$cover-width: 280px;
$cover-height: 280px;

.album-details-inner {
	padding: 20px;

	.cover {
		display: inline-block;
		vertical-align: top;
		background: #43a047;
		height: $cover-height;
		width: $cover-width;
		border-radius: 5px;
		border: 1px solid #ccc;
		position: relative;
		overflow: hidden;

		img {
			min-width: 101%;
			min-height: 101%;
			border-radius: 5px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.album-content {
		display: inline-block;
		width: calc(100% - #{$cover-width});
		padding-left: 20px;
		font-size: 0.8rem;

		.songs-list {
			columns: 2;
			-webkit-columns: 2;

			.song {
				padding: 6px 0;
				border-bottom: 1px solid #eee;
				break-inside: avoid-column;

				.play {
					color: #666;
				}

				.song-title {
					padding-left: 10px;
				}

				%menu {
					display: inline-block;
					float: right;
					width: 18px;
					height: 18px;
					text-align: center;
					position: relative;
				}

				.menu-action {
					@extend %menu
				}

				.add-to-playlist {
					@extend %menu;
					font-size: 1rem;
					line-height: 1;

					.tooltip {
						display: none;
						position: absolute;
						bottom: 100%;
						width: 90px;
						font-size: .7rem;
						background: rgba(0, 0, 0, 0.5);
						color: #fff;
						height: 20px;
						line-height: 1.8;
						border-radius: 5px;
						left: 50%;
						transform: translateX(-50%);
					}

					&:hover .tooltip {
						display: block;
					}
				}
			}
		}
	}
}
